<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Driver Table</title>
    <style>
        :root {
            --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            --my-size: 1rem;
        }

        html {
            font-family: var(--font-family);
            font-size: var(--my-size);
        }

        body {
            width: 73rem;
            border: .75rem groove black;
            outline-offset: .5rem;
            margin: 2rem;
            background-color: grey;
        }

        div {
            background-color: lightgray;
            padding: 2rem;
            background-size: 50% 50%; 
        }

        table, td, th {
            border: .1rem solid black;
            margin-left: 23rem;
        }

        tr:nth-child(2n) {background-color: gray}
        tr:nth-child(2n + 1) {background-color: silver}
    </style>
</head>

<body>
	<div>
        <h1>Driver List</h1>
		<%- table %>

        <hr>
	    <a href = "/">HOME</a>
	</div>
</body>

</html>