<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removed</title>
    <style>
        :root {
            --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            --my-size: 1rem;
        }

        html {
            font-family: var(--font-family);
            font-size: var(--my-size);
        }

        body {
            width: 73rem;
            border: .75rem groove black;
            outline-offset: .5rem;
            margin: 2rem;
            background-color: grey;
        }

        div {
            background-color: lightgray;
            padding: 2rem;
            background-size: 50% 50%; 
        }
    </style>
</head>

<body>
    <div>
        <h1>Removal of All Created Drivers</h1>
        <p>All created drivers have been removed from the database. Number of drivers removed: <%- number %></p>
        <br>
        <a href = "/">HOME</a>
    </div>
</body>

</html>